#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 900px; 
    max-height: 900px; 
    margin: 150px;
    background-color: rgb(117, 141, 141);
}

.hover-effect {
    background-color: red;
}

.buttons {
    background-color: lightblue;
    color: black;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
}